<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <div class= "logo">
            <img class = "imagen-logo" src="./images/logo.png" alt="Logo de pagina">
        </div>
        <div class="form-busqueda">
            <form action="#">
                <input type="text" placeholder="Buscar productos">
                <button>
                    Buscar
                </button>
            </form>
        </div>
        <div class="cart">
            <a href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <div class="login">
            <a href="#">
                <i class="fas fa-user-circle"></i> 
            </a>
        </div>
        <div class="darkmode">
            <i class="fas fa-moon"></i>  
            <a href="#">
                <i class="fas fa-toggle-on"></i>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#">novedades</a></li>
                <li><a href="#">oficina</a></li>
                <li><a href="#">universitario</a></li>
                <li><a href="#">escolares</a></li>
                <li><a href="#">artistica</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <img src="/img/prod-1.jpg" alt="ofertas">
            </article>
            <article>
                <img src="/img/prod-2.jpg" alt="medios de pago">
            </article>
            <article>
                <img src="/img/prod-2.jpg" alt="instrucciones al cliente">
            </article>
        </section>
        <section>
            <div> Filtrar por </div>
            <nav>
                <ul>
                    <li>marcas</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>